@keyframes h1Intro{
   from{color: black;}
   to  {color: white;}
}




h1 {
   /*border etc.*/
   padding:30px;
   margin: 0;
/* text characteristics */
   background-color:black;
   color: white;
   text-align: center;
   text-decoration-line: underline;
/* animation here*/
   animation-name:     h1Intro;
   animation-duration: 3s;
}

h2{
   width: 10%;
   color:            white;
   background-color: black;

}
main {
   line-height: 1.5;
   margin:    1%;
   margin-left:0%;
   text-align: left;
   width:  30%;
   color:            white;
   background-color: black;
}
body{
   background-image: url("https://i.ytimg.com/vi/UZj4Gjq5pi4/hqdefault.jpg");
}
cap{
   width: 100%;
   opacity: 0;
   color:            white;
   background-color: black;
   font-size:2.5vw;
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 3s ease;

}
img{
   width:30%;
   scale:          0.3;
   opacity:        0.3; 
   transition: 3s ease;

}
.container {
   position: relative;
   text-align: center;
   color: white;}

.container:hover img{
transform: rotateY(360deg);
scale: 1;
opacity: 1;
}
.container:hover cap{

   opacity: 1;
   }


