@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Lmao;
  src:local("Lmao"),
  url("../src/assets/Fonts/02.10FEN.ttf")
  /* other formats include: 'woff2', 'truetype, 'opentype',
                           'embedded-opentype', and 'svg' */
}

@import "tailwindcss";

@theme{
    --font-lmao: Lmao, "sans-serif";}